@{
    ViewBag.Title = "Контакты";
}
<h2>@ViewBag.Title</h2>

<address>
    Россия, Ульяновск
    ул. Брестская, 78
</address>

<address>
    <strong>Support:</strong>   <a href="bezrukov1998@inbox.ru">bezrukov1998@inbox.ru</a><br />
</address>